@page
@model ReactModel

<h1>Razor page with server-side rendered React components</h1>
<p>
    <strong>Text:</strong> <code>@Model.Text</code>
</p>

@await Model.hypernovaClient.React("HypernovaSheep", "{ \"name\": \"Abracadabra\" }")
<hr />
@await Model.hypernovaClient.ReactAsyncRedux("HypernovaCounter", "/", "{ \"counter\": { \"value\": 42 } }")

<script src="/static/js/bundle.js"></script>
<script src="/static/js/0.chunk.js"></script>
<script src="/static/js/main.chunk.js"></script>

