    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @inject Microsoft.Extensions.Logging.ILogger Logger
    @inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Env
    @inject System.Net.Http.IHttpClientFactory HttpClientFactory
    @inject Microsoft.Extensions.Options.IOptions<Web.App.Hypernova.HypernovaSettings> Options

    @{
    var baseUrl = $"{HttpContextAccessor.HttpContext.Request.Scheme}://{HttpContextAccessor.HttpContext.Request.Host}";
    var hypernovaClient = new Web.App.Hypernova.HypernovaClient(baseUrl, Logger, Env, HttpClientFactory, Options);
    }
    <!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        Hello world!

        hypernovaClient.React("HypernovaSheep", "{ \"name\": \"Abracadabra\" }")
        <hr />
        hypernovaClient.ReactAsyncRedux("HypernovaCounter", "{ \"counter\": 42 }")

        <script src="/static/js/bundle.js"></script>
        <script src="/static/js/0.chunk.js"></script>
        <script src="/static/js/main.chunk.js"></script>
    </body>
</html>
