amp-story {
    font-family: 'Oswald',sans-serif;
    color: #fff;
  }
  amp-story-page {
    background-color: #000;
  }
  h1 {
    font-weight: bold;
    font-size: 2.875em;
    font-weight: normal;
    line-height: 1.174;
    text-shadow: 3px 3px 3px black;
  }
  h2 {
    font-weight: bold;
    font-size: 1,8em;
    font-weight: normal;
    line-height: 0.4;
    text-shadow: 2px 2px 2px black;
  }
  p {
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #fff;
    text-shadow: 1px 1px 1px black;
  }
  li {
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #fff;
    text-shadow: 1px 1px 1px black;
  }
  q {
    font-weight: 300;
    font-size: 1.1em;
  }
  amp-story-grid-layer.bottom {
    align-content:end;
  }
  amp-story-grid-layer.noedge {
    padding: 0px;
  }
  amp-story-grid-layer.center-text {
    align-content: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  .banner-text {
    text-align: center;
    background-color: #000;
    line-height: 2em;
  }
  .source {
    font-size: 0.8em;
  }